@import 'colors';
@import 'variables';
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.3.0/nouislider.min.css');

body {
    background: $black;
    font-family: 'roboto', sans-serif;

    a {
        color: $grey;

        &:hover {
            color: $sand;
        }
    }
}

.header {
    & {
        color: $grey;
        background: $light-black;
        height: 50px;
        width: 100%;
        
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        border-bottom: 1px solid $black;
    }
    .page-flows {
        .flow {
            font-size: 16px;
            margin: 0 $margin-sm;

            .disable {
                color: darken($grey, 35%)
            }
        }
    }
    .searchbar {
        margin-left: 1%;
        input {
            background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/ios-search.svg);
            padding-left: $padding-lg;
            border-radius: $border-radius;
            //background-repeat: no-repeat;
            background-size: 10%;
            background-position: 5px;
            color: $black;
            background: $white;
            border: none;
            
        }
    }
    .userbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        .userinfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            .userface {
                img {     
                    max-width: 35px;
                    max-height: 35px;
                    border-radius: 50%;

                }
            }
            .username {
                font-size: 12px;
            }
        }
        .user {

            & {
                width: 300px;
                margin-left: auto;

                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
            }
            i {
                font-size: $large;

                &:hover {
                    color: $white;
                    cursor: pointer;
                }
            }
            &__actions {
                button {
                    background: none;
                    border: none;
                }
                .dropwdown-menu {
                    background: $light-black;
                    margin-top: 25px;
                    border-radius: 2px;
                    padding: 0;
                    border: none;
                    &::before {
                        font-family: "ionicons", sans-serif;
                        content: '\f365';
                        position: absolute;
                        top: -30px;
                        right: 7px;
                        color: $light-black;
                        font-size: $xx-large;
                    }
                    a {
                        color: $grey;
                        transition: all 0.2s ease;

                        &:hover {
                            background: none;
                            transition: all 0.2s ease;
                        }
                    }
                    li {
                        padding: $padding-sm;
                        margin: 0;
                        transition: all 0.2s ease;

                        &:hover {
                            background: $grey;
                            transition: all 0.2s ease;
                            a {
                                color: $sand;
                                transition: all 0.2s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}

.content {
    background-color: yellow;
    height: 500px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
}

.content-left {
    background-color: blue;
    height: 100%;
    width: 15%;
}

.content-middle {
    background-color: gray;
    height: 100%;
    width: 70%;
}

.content-right {
    background-color: pink;
    height: 100%;
    width: 15%;
}

.current-track {
    background-color: red;
    height: 50px;
    width: 100%;
}